<div style="padding: 40px;">
  <p>12. [Parameter Routing with ActivatedRoute, ParamMap, 5 hours]
    Modify the above app to include a parameterized route.
    The “First” component can be routed as [routerLink]=&quot;[&#39;/first&#39;, {{ '{' }} name: &#39;yourname&#39; {{ '}' }}]&quot;
    and second as “[routerLink]=&quot;[&#39;/second/2&#39;]&quot;. Using “ActivatedRoute” &amp; “ParamMap”
    displays the value of the parameter passed in the url in the respective components.
    Component “First” would display “Greeting ! &lt;name&gt;” and Component “Second” would
    display “The identity value is 2”.
</p>
</div>

