

<div style="padding: 40px;">
  <p>7. [Service &amp; Dependency injection, 6 hours]
    In the above Angular application create an injectable service “Logger” through cli, define
    a function “log(msg)” in the file. This function will output the message in the browser
    console. Inject this service in the “Home” component. Call the log(“Using a logger
    service”) function in the constructor of the “home” component.</p>

<p style="text-align: center; font-size: 25px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color: rgb(77, 77, 255);"><b>{{Status}}</b></p>


</div>
