<div style="padding: 40px;">
  <p>5. [Interpolation &amp; Property Binding, 3 hours]
    Extend the above app and define 2 class properties as “profileImg” and “username” with
    default a values in the “home” component. The “profileImg” should refer to an static
    image url from “src/assets/img” folder. Create an external HTML view template to display
    the “username” with interpolations as “Greetings ! &lt;username&gt;” followed by a user
    profile image i.e “profileImg” with property binding.</p>

<div class="main">
    <h2>Hello <span>World!</span></h2>
    <h1><strong>Greetings, <span>{{username}}!</span></strong></h1>
    <div class="image">
        <img [ngSrc]="profileImg" [alt]="profileAltText" width="300" height="400" />
    </div>
</div>

</div>



