


<div style="padding: 40px;">
  <p>9. [Lifecycle hooks, 4 hours]
    Create a simple Angular application to demonstrate all the Lifecycle Hooks for a
    Component. Design a new page with name “LifeCycle” which should display the
    message on browser console as “&lt;life cycle name&gt; is called” for each of the life cycle
    events in the order in which it occurs. E.g. “ngOnInit is called”. Use the Logger service
    created in the previous assignment.</p>

<p style="text-align: start; display: flex; flex-direction: column; font-size: 20px;">
  @for (item of items; track $index) {
    <p>{{$index+1}}. {{item}}</p>
  }

</p>

</div>
