<div style="border: 2px solid black; min-height: 100%; width: 100%;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3">
    <img class="mx-3" src="customers-icon.jpg" width="60px" height="60px" />
    <a class="navbar-brand" href="#">Customer Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/Customers">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li>
          <a class="nav-link" href="">Login</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>


</div>
