@if (isSidebarVisible) {
  <div  class="main" (click)="sendMessageToParent()">
    <img src="favicon.png"  height="30px" />
    <a routerLink="/assign1" routerLinkActive="router-link-active">Assignment 1</a>
    <a routerLink="/assign2" routerLinkActive="router-link-active">Assignment 2</a>
    <a routerLink="/assign3" routerLinkActive="router-link-active">Assignment 3</a>
    <a routerLink="/assign4" routerLinkActive="router-link-active">Assignment 4</a>
    <a routerLink="/assign5" routerLinkActive="router-link-active">Assignment 5</a>
    <a routerLink="/assign6" routerLinkActive="router-link-active">Assignment 6</a>
    <a routerLink="/assign7" routerLinkActive="router-link-active">Assignment 7</a>
    <a routerLink="/assign8" routerLinkActive="router-link-active">Assignment 8</a>
    <a routerLink="/assign9" routerLinkActive="router-link-active">Assignment 9</a>
    <a routerLink="/assign10" routerLinkActive="router-link-active">Assignment 10</a>
    <a routerLink="/assign11" routerLinkActive="router-link-active">Assignment 11</a>
    <a routerLink="/assign12" routerLinkActive="router-link-active">Assignment 12</a>
    <a routerLink="/assign13" routerLinkActive="router-link-active">Assignment 13</a>
    <a routerLink="/assign14" routerLinkActive="router-link-active">Assignment 14</a>
    <a routerLink="/assign15" routerLinkActive="router-link-active">Assignment 15</a>
    <a routerLink="/assign16" routerLinkActive="router-link-active">Assignment 16</a>
    <a routerLink="/assign17" routerLinkActive="router-link-active">Assignment 17</a>
    <a routerLink="/assign18" routerLinkActive="router-link-active">Assignment 18</a>
    <a routerLink="/assign19" routerLinkActive="router-link-active">Assignment 19</a>
    <a routerLink="/assign20" routerLinkActive="router-link-active">Assignment 20</a>
    <a routerLink="/assign21" routerLinkActive="router-link-active">Assignment 21</a>
    <a routerLink="/assign22" routerLinkActive="router-link-active">Assignment 22</a>
    <a routerLink="/assign23" routerLinkActive="router-link-active">Assignment 23</a>
    <a routerLink="/assign24" routerLinkActive="router-link-active">Assignment 24</a>
    <a routerLink="/assign24/Customers/cards" routerLinkActive="router-link-active">Assignment 25</a>
    <a routerLink="/assign24/Customers/list" routerLinkActive="router-link-active">Assignment 26</a>
    <a routerLink="/assign24/Customers/map" routerLinkActive="router-link-active">Assignment 27</a>
    <a routerLink="/assign24/Customers/map" routerLinkActive="router-link-active">Assignment 28</a>



  </div>
}

